[Unit]
Description=Laravel reverb for floofment

[Service]
User=apache
Group=apache
Restart=always
ExecStart=/usr/bin/php /var/www/floofment/artisan reverb:start --host=127.0.0.1 --port=9000

[Install]
WantedBy=multi-user.target
